{{!-- 
Citation for the following page:
Date: 05/06/2025
Copied from:
Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948 
--}}

<h1>Home page</h1>
<div class="homepageDescription">
    <p>Developer information and Project overview here.</p>
</div>